:root {
  --alabaster: #f8fafb;
  --azure: #325f98;
  --black: #000000;
  --bunker: #141415;
  --diesel: #0a0000;
  --header-send-money: #f4de19eb;
  --pumice: #cacaca;
  --white: #ffffff;

  --font-size-l: 31px;
  --font-size-l2: 30px;
  --font-size-s: 25px;
  --font-size-s2: 20px;
  --font-size-xxl2: 40px;
  --font-size-xxxl: 48px;
  --font-size-xxxl2: 45px;

  --font-family-lato: "Lato", Helvetica;
}

.siteheader,
.siteheader2 {
  width: 100%;
  height: 160px;
  position: relative;
  background-color: #325f98;
}

.siteheader2 ul {
  list-style: none;
}

.siteheader2 li {
  display: inline;
  list-style-type: none;
  float: left;
  margin-right: 4ex;
}

.siteheader2 .language {
  font-size: 20px;
  margin-top: 7ex;
}

.siteheader2 .sendmoney {
  float: right;
  font-size: var(--font-size-xxxl);
  font-family: var(--font-family-lato);
  font-weight: 800;
  margin-top: 2.5ex;
}
